<h1>{{ main_task.name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<ul>
	<li>Task: {{main_task.name}} </li>
	<li>Description: {{main_task.description}}</li>
	<li>Completed: {{main_task.completed}} </li>
	{% if main_task.deadline %} 
		<li>Deadline: {{ main_task.deadline }}</li> 
	{% endif %}
	
	<a href="/admin/task/task/add/"> Create a New Task </a>
	
	{% if main_task.parent %}
	<h3>Parent Task:</h3>
    	<ul>
			<li>
        		<ul>
					<li>Parent Name: <a href="/task/{{ main_task.parent.id }}/">{{ main_task.parent.name }}</a></li>
					<li>Description: {{ main_task.parent.description}}</li>
					<li>Completed: {{main_task.parent.completed}}</li>
				</ul>
			</li>
    	</ul>
	{% else %}
		<h3>This Task has no Parent Tasks</h3>
	{% endif %}
	
	
	{% if child_tasks %}
	<h3>Child Tasks:</h3>
	    <ul>
	    	{% for task in child_tasks %}
				<li>
	        		<ul>
						<li>Name: <a href="/task/{{ task.id }}/">{{ task.name }}</a></li>
						<li>Description: {{ task.description}}</li>
						<li>Completed: {{task.completed}}</li>
					</ul>
				</li>
	    	{% endfor %}
	    </ul>
	{% else %}
	    <h3>This Task has no dependencies.</h3>
	{% endif %}
</ul>
 